In [ ]:
# Import key librarys
import pandas as pd
import plotly.express as px

In [ ]:
### Old code

# frames = []

# years = ['2010', '2011', '2012']

# for year in years:

#     # Read in csvs and turn into long format
#     df = pd.read_csv('./google_sheets/highland_council_emissions_reports - education_' + year + '_all.csv')
#     df = pd.melt(df, id_vars = 'Location', 
#                     value_vars = ['Electric kWh', 'Gas kWh', 'Oil kWh', 'Biomass kWh', 'Total kWh', 'Water m3'],
#                         var_name = 'Type', value_name = 'Amount')
    
#     df['Year'] = year
    
#     frames.append(df)

# dft = pd.concat(frames)

# # Remove any rows with null values
# dft = dft.dropna(how = 'any', axis = 0)

# dft.head()

In [ ]:
# Create a list of years
years = ['16 17', '17 18', '19 20', '20 21', '21 22', '22 23']

# Create an empty list to store dataframes
frames = []

# Loop through years
for year in years:

    # Read in xlsx
    df = pd.read_excel('./foi/ECS ' + year + '.xlsx', header = [0,1])
    
    # Flatten multi-index
    df.columns = ['_'.join(col) for col in df.columns.values]
    
    # Rename columns
    df = df.rename(columns=
               {'Account Commodity_Site Name': 'Location', 
                'Electricity_Present Consumption': 'Electric kWh',
                'Electricity_Sum Present Net Cost': 'Electric £',
                'Biomass_Present Consumption': 'Biomass kWh',
                'Biomass_Sum Present Net Cost': 'Biomass £',
                'Gas_Present Consumption': 'Gas kWh',
                'Gas_Sum Present Net Cost': 'Gas £',
                'Oil_Present Consumption': 'Oil kWh',
                'Oil_Sum Present Net Cost': 'Oil £',
                'Water_Present Consumption': 'Water m3',
                'Water_Sum Present Net Cost': 'Water £',
                'Propane_Present Consumption': 'Propane kWh',
                'Propane_Sum Present Net Cost': 'Propane £'
               })
    
    # Convert Oil litres into Oil kWh (assume kerosine with ratio of 10.35)
    df['Oil kWh'] *= 10.35
    
    # Drop last row with totals
    df.drop(df.tail(1).index, inplace=True)
    
    # Turn into long format
    df = pd.melt(df, id_vars = 'Location', 
                value_vars = ['Electric kWh', 'Gas kWh', 'Oil kWh', 'Propane kWh', 'Biomass kWh', 'Water m3'],
                    var_name = 'Type', value_name = 'Amount')
    
    # Swap space for /
    year = year.replace(' ', '/')
    
    # Add year
    df['Year'] = '20' + year
    
    # Append to df list
    frames.append(df)

In [ ]:
# Read in oil data
df = pd.read_excel('./foi/ECS Oil Annualised Data to Mar 2016.xls', header = [0,1])

# Drop columns with substring 'Cost'
df = df[df.columns.drop(list(df.filter(regex='Cost')))]

# Select second row of multi-index
df.columns = df.columns.get_level_values(1)

# Drop last two columns
df = df.iloc[: , :-2]

# Add '20' to beginning of column names
df.rename(columns=lambda x: '20' + x, inplace=True)

# Change blackslash to forward slash
df.columns = df.columns.str.replace('\\\\', '/', regex=True)

# Rename the first two columns by index
df.columns.values[0:2] = ["Location", "Units" ]

# Convert Oil litres into Oil kWh (assume kerosine with ratio of 10.35)
df[df.select_dtypes(include=['number']).columns] *= 10.35

# Drop last row with totals
df.drop(df.tail(1).index, inplace=True)

# Turn into long format
df = pd.melt(df, id_vars = 'Location', 
            value_vars = ['2000/01', '2001/02', '2002/03', '2003/04', '2004/05',
                       '2005/06', '2006/07', '2007/08', '2008/09', '2009/10', '2010/11',
                       '2011/12', '2012/13', '2013/14', '2014/15', '2015/16'],
                        var_name = 'Year', value_name = 'Amount')

# Add type
df['Type'] = 'Oil kWh'

# Append to df list
frames.append(df)

In [ ]:
# Read in Electricity data
df = pd.read_excel('./foi/ECS Elec Annualised Data to Mar 2016.xls', header = [0,1])

# Drop columns with substring 'Cost'
df = df[df.columns.drop(list(df.filter(regex='Cost')))]

# Select second row of multi-index
df.columns = df.columns.get_level_values(1)

# Drop last two columns
df = df.iloc[: , :-1]

# Add '20' to beginning of column names
df.rename(columns=lambda x: '20' + x, inplace=True)

# Change blackslash to forward slash
df.columns = df.columns.str.replace('\\\\', '/', regex=True)

# Rename the first two columns by index
df.columns.values[0:2] = ["Location", "Units" ]

# Drop last row with totals
df.drop(df.tail(1).index, inplace=True)

# Turn into long format
df = pd.melt(df, id_vars = 'Location', 
            value_vars = ['2001/02', '2002/03', '2003/04', '2004/05',
                           '2005/06', '2006/07', '2007/08', '2008/09', '2009/10', '2010/11',
                           '2011/12', '2012/13', '2013/14', '2014/15', '2015/16'],
                            var_name = 'Year', value_name = 'Amount')

# Add type
df['Type'] = 'Electric kWh'

# Append to df list
frames.append(df)

In [ ]:
# Read in Biomass data
df = pd.read_excel('./foi/ECS Biomass Annualised Data to Mar 2016.xls', header = [0,1])

# Drop columns with substring 'Cost'
df = df[df.columns.drop(list(df.filter(regex='Cost')))]

# Select second row of multi-index
df.columns = df.columns.get_level_values(1)

# Drop last two columns
df = df.iloc[: , :-1]

# Add '20' to beginning of column names
df.rename(columns=lambda x: '20' + x, inplace=True)

# Change blackslash to forward slash
df.columns = df.columns.str.replace('\\\\', '/', regex=True)

# Rename the first two columns by index
df.columns.values[0:2] = ["Location", "Units" ]

# Drop last row with totals
df.drop(df.tail(1).index, inplace=True)

# Turn into long format
df = pd.melt(df, id_vars = 'Location', 
            value_vars = ['2010/11', '2011/12', '2012/13', '2013/14','2014/15', '2015/16'],
                            var_name = 'Year', value_name = 'Amount')

# Add type
df['Type'] = 'Biomass kWh'

# Append to df list
frames.append(df)

In [ ]:
# Read in Gas data
df = pd.read_excel('./foi/ECS Gas Annualised Data to Mar 2016.xls', header = [0,1])

# Drop columns with substring 'Cost'
df = df[df.columns.drop(list(df.filter(regex='Cost')))]

# Select second row of multi-index
df.columns = df.columns.get_level_values(1)

# Drop last two columns
df = df.iloc[: , :-1]

# Add '20' to beginning of column names
df.rename(columns=lambda x: '20' + x, inplace=True)

# Change blackslash to forward slash
df.columns = df.columns.str.replace('\\\\', '/', regex=True)

# Rename the first two columns by index
df.columns.values[0:2] = ["Location", "Units" ]

# Drop last row with totals
df.drop(df.tail(1).index, inplace=True)

# Turn into long format
df = pd.melt(df, id_vars = 'Location', 
            value_vars = ['2010/11', '2011/12', '2012/13', '2013/14','2014/15', '2015/16'],
                            var_name = 'Year', value_name = 'Amount')

# Add type
df['Type'] = 'Gas kWh'

# Append to df list
frames.append(df)

In [ ]:
# Concat frames together
dft = pd.concat(frames)

# Replace 'PS' with 'Primary School' and 'HS' with 'High School' in location column
dft['Location']= dft["Location"].replace('PS', 'Primary School', regex=True)
dft['Location']= dft["Location"].replace('HS', 'High School', regex=True)

# Remove any rows with null values
#dft = dft.dropna(how = 'any', axis = 0)

# Remove rows with zeros
dft = dft[dft['Amount'] != 0]

# Remove whitespace from the end of all subjects
dft['Location'] = dft['Location'].str.strip()
    
# Rename columns
dft['Location'] = dft['Location'].replace(
           {'XX-Caol Community Centre': 'Caol Community Centre',
            'Caol Campus': 'Caol Joint Campus',
            'Wick Community Campus (new)': 'Wick Joint Campus',
            'Alness Academy ( Old )': 'Alness Academy',
            'Elgin Residence ( formerly Elgin Hostel )': 'Elgin Residence',
            'Elgin Hostel': 'Elgin Residence',
            'Acharacle Primary School (New)': 'Acharacle Primary School',
            'Gergask Primary School (Mothballed)': 'Gergask Primary School',
            'Fort Augustus Memorial Hall (Service Point forms part)': 
                    'Fort Augustus Memorial Hall Service Point',
            'Ft Augustus Memorial Hall Service Point':
                    'Fort Augustus Memorial Hall Service Point',
            'Merkinch Nursery School': 'Merkinch Family Centre',
            'Stoer Primary School (Mothballed)': 'Stoer Primary School',
            'Altnaharra Primary School (Mothballed)': 'Altnaharra Primary School',
            'Brora Interpretative Centre': 'Brora Heritage Centre',
            'St Duthus Special School -  new': 'St Duthus Special School',
            'Morven Youth Club': 'Castletown ( Morven ) Youth Club',
            'Rosemarkie Pavilion': 'Rosemarkie Beach Amenities',
            'Ferry Brae  Sports Pavilion': 'Ferry Brae Sports Pavilion',
            'Ferry Brae Pavilion North Kessock': 'Ferry Brae Sports Pavilion',
            'Spean Bridge Primary Demountable Unit (Not PPP)': 'Spean Bridge Primary Demountable Unit',
            'Gaelic Primary School Inverness  P1/Nursery (Not PPP)':
                    'Gaelic Primary School Inverness P1/Nursery',
            'ZHC-Altnaharra Primary School (Mothballed)': 'Altnaharra Primary School (Mothballed)',
            'ZHC-Badcaul Primary School': 'Badcaul Primary School',
            'ZHC-Struy Primary School': 'Struy Primary School',
            'ZHC-Wick High School': 'Wick High School',
            
            
            'ZHC - Gergask Primary School (Mothballed)': 'Gergask Primary School',
            'ZHC - Roy Bridge Primary School (Mothballed)': 'Roy Bridge Primary School',
            'ZHC - Stoer Primary School (Mothballed)': 'Stoer Primary School',
            'ZHC - Struan Primary School (Mothballed)': 'Struan Primary School',
            'ZHC - Torridon Primary School (Mothballed)': 'Torridon Primary School',
            'ZHC-Achnasheen Primary School': 'Achnasheen Primary School',
            'ZHC-Elgol Primary School (Mothballed)': 'Elgol Primary School',
            'ZHC-Kinlochewe Primary School (Mothballed)': 'Kinlochewe Primary School'
           })

# Sort values and reset index
dft = dft.sort_values(['Year', 'Location', 'Type'], ascending = [True, True, True]).reset_index(drop=True)

# Show first 5 rows
#dft.head()

# Export to .csv
dft.to_csv('highland_energy_education_summary_long.csv')

## Draw graph

In [ ]:
# Create a df for graph
dfgraph = dft[dft['Type'] == 'Electric kWh']

In [ ]:
# Plot graph
# fig = px.line(dfgraph, x = "Year", y = "Amount", 
#                 color = "Location",
#                 height = 900,
#                 title = 'Highland education Electricity use 2001 - 2022'
#                 )

# # Update graph layout
# fig.update_yaxes(matches = None, rangemode = "tozero")
# fig.update_traces(mode = "markers+lines")

# # Export interactive graph
# fig.write_html('./graph_highland_education_electricity_use_2001_2022.html')

# # Show graph
# fig.show()